@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(212, 45%, 89%);
    max-width: 1440px;
    margin: auto;
    font-family: 'Outfit', sans-serif;
   
   
}

img{
    display: block;
    max-width: 100%;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card{
    max-width: 375px;
    width: 300px;
    background-color:  hsl(0, 0%, 100%);
    padding: 1rem;
    border-radius: 16px;
    box-shadow: 0px 0px 0px hsl(218, 44%, 22%);
}


.card-img img{
    border-radius: 16px;
    height: 50%;
}


.card-text{
    text-align: center;
}

.card-text h2{
    font-weight: 700;
}

.card-text p{
    font-size: 15px;
    color:hsl(220, 15%, 55%) ;
    font-weight: 400;
    padding:0 1rem;
}
